# Logs
logger/
logs/
*.log


# OS / editor
.DS_Store
__pycache__/
*.pyc
.vscode/
.pytest_cache/

# output
output/
results/


# Chrome data
chrome_profile/


# data folders (download from Google Drive separately)
data/
data_1/
data_viet/
temp_downloads/
processed_data/audios/


# state
state/

# models
models/
*_model/